<?xml version="1.0" encoding="ISO-8859-15"?>
<launch>
  <!-- If you just want to run 3D reconstruction without semantics, set this flag to false-->
  <arg name="metric_semantic_reconstruction" value="false"/>

  <!-- If you aren't running a bag file, set to false-->
  <arg name="should_use_sim_time" value="false"/>

  <!-- Change sensor frame to:
   - 1. VIO's estimated base_link: `left_cam_base_link`
   - 2. Or, if you want to use simulator's ground-truth: `left_cam`
  -->
  <arg name="sensor_frame" value="left_cam"/>

  <!-- Subscribed Topics -->
  <arg name="left_cam_depth_topic"         value="/camera/depth/image_rect_raw"/>
  <arg name="left_cam_info_topic"         value="/camera/infra1/camera_info"/>
  <arg name="left_cam_topic"              value="/camera/infra1/image_rect_raw"/>

  <!-- Launch actual pipeline -->
  <include file="$(find kimera_semantics_ros)/launch/kimera_semantics.launch"
           pass_all_args="true"/>
</launch>
